<script type="text/javascript" src="js/client.js"> </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<form>
	<textarea id="party-line" class="form-control" rows="5"> </textarea>
	<div class="input-group">
		<input id="client-input" type="text" class="form-control" placeholder="Say something...">
		<span class="input-group-btn">
			<button id="send-button" type="button" class="btn btn-success"> <span class="glyphicon glyphicon-send"></span> Send </button>
		</span>
	</div>
</form>